* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-size: 1.875rem;
	text-transform: uppercase;
	color: #2c3731;
	margin: 40px 0;
}

a {
	color: inherit;

	&:hover, &:focus {
		color: inherit;
	}
}

.mb-xxl {
	margin-bottom: 85px;

	@media (max-width: 840px) {
		margin-bottom: 10px;
	}
}

#instafeed {
	width: 100%;
	max-width: 1920px;
	height: auto;
	overflow: hidden;
	
	a {
		position: relative;
		display: inline-block;
		width: 12.5%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}
	}
}

#instafeed .likes {
  background:rgba(19,23,9,0.8);
  font-family:sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  position:absolute;
  color:#ffffff;
  right:0;
  top:0;
  left:0;
  bottom: 0;
  opacity:0;
  text-align:center;
  line-height:150px;
}

#instafeed a:hover .likes {
  opacity:1;
}

#map {
	width: 100%;
	height: 467px;
}

.social-buttons {
	position: absolute;
	top: 400px;
	right: 0;

	@media (max-width: 1245px) {
		display: none;
	}

	a {
		display: block;
		margin: 0;
		padding: 0;
	}

	img {
		border: none;
	}
}

//foundation setup

h1 {
	font-family: 'Open Sans', sans-serif;
}

.menu > li > a {
	padding: 0.7rem;
}

.menu .active > a {
	color: inherit;
	background: none;
}

.dropdown.menu.vertical > li.opens-right .is-dropdown-submenu {
	@media (max-width: 640px) {
		display: none;
	}
}

.title-bar {
	background: #2c3731;
	margin-bottom: 10px;
}

.dropdown.menu.vertical > li.opens-right > a::after {
  	display: none;
	border-top-style: none;
	border-style: none;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
	padding-right: 0.7rem;
}

.pagination {
	margin: 20px 0;
}

.pagination a, .pagination button {
	font-size: 16px;
	font-size: 1rem;
	font-weight: 600;
	color: #2c3731;
	background: #f0f0f0;
}

.pagination .current {
	font-weight: 600;
	background: #5dcf91;
} 

.pagination a:hover, .pagination button:hover {
	color: #2c3731;
	background: #5dcf91;
}

.pagination-previous a, .pagination-next a {
	font-weight: normal;
	color: #ffffff;
	background: #2c3731;
}

.pagination li {
	border-radius: none;
}

.accordion-title {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	color: #46504a;
}

.accordion-content {
	border: none;
}

.sticky {
	width: 100%;

	@media (max-width: 1025px) {
		position: static;
	}
}