.be-fisher__boxes {
	margin-top: 30px;

	h3 {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: 600;
		text-transform: uppercase;
		color: #2c3731;
	}

	p {
		font-weight: lighter;
	}
}

.be-fisher__one-two {
	&:first-child {
		background: url("../img/be-fisher-1.png") 100% 100% no-repeat;
	}
}

.became-fisher {
	h2 {
		&:before {
			display: inline-block;
			width: 52px;
			height: 52px;
			font-family: 'Open-sans', sans-serif;
			font-size: 20px;
			font-size: 1.25rem;
			font-weight: bold;
			text-align: center;
			color: #ffffff;
			border-radius: 50%;
			background: #5dcf91;
			vertical-align: middle;
			margin-right: 1rem;
			padding-top: 0.7rem;
			padding-left: 0.2rem;
		}
	}

	.icn-first {
		&:before {
			content: "1.";
		}
	}

	.icn-second {
		&:before {
			content: "2.";
		}
	}

	.icn-third {
		&:before {
			content: "3.";
		}
	}

	.icn-fourth {
		&:before {
			content: "4.";
		}
	}
}