.error404 {
	height: 89.7%;
	color: #ffffff;
	background: #070300 url("../user-files/img/404-bg.jpg") 50% 0 no-repeat;

	h1 {
		font-size: 118px;
		font-size: 7.375rem;
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 120px;
		margin-bottom: 0;
	}

	span {
		font-size: 30px;
		font-size: 1.875rem;
		font-weight: bold;
		color: #ffffff;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		margin: 40px 0;
	}

	ol {
		li {
			padding: 10px 0;
		}
	}
}