.grounds {
	h4 {
		font-size: 16px;
		font-size: 1rem;
		font-weight: bold;
		color: #46504a;
		margin: 1.563rem 0;
	}

	table {
		margin-top: 1.563rem;
	}

	table thead, table tbody, table tfoot {
		border: none;
	}

	table tbody tr:nth-child(2n) {
		background: none;
	}

	.thumbnail {
		border: none;
		box-shadow: none;
		border-radius: 0;
	}

	.tank td {
		border: 2px solid #c0c3c2;
	}

	.tank td:first-child {
		font-weight: bold;
		color: #5dcf91;

		&:before {
			display: inline-block;
			content: "";
			width: 12px;
			height: 16px;
			background: url("../img/icn-grounds-location.png") no-repeat;
			vertical-align: middle;
			margin: 0.2rem;
		}
	}
}

.accordion {
	p {
		text-align: justify;
	}
}

.icn-grounds-length {
	&:before {
		display: inline-block;
		content: "";
		width: 21px;
		height: 21px;
		background: url("../img/icn-grounds-length.png") no-repeat;
		vertical-align: middle;
		margin-right: 0.2rem;
	}
}

.icn-grounds-drop {
	&:before {
		display: inline-block;
		content: "";
		width: 19px;
		height: 19px;
		background: url("../img/icn-grounds-drop.png") no-repeat;
		vertical-align: middle;
		margin-right: 0.2rem;
	}
}

.icn-grounds-gps {
	&:before {
		display: inline-block;
		content: "";
		width: 21px;
		height: 24px;
		background: url("../img/icn-grounds-gps.png") no-repeat;
		vertical-align: middle;
		margin-right: 0.2rem;
	}
}