#sticky-head {

	@media (max-width: 1030px) {
		position: static;
	}

	@media (min-width: 1031px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 15;
	}
}

header {
	width: 100%;
	min-height: 100px;
	background: #ffffff;
}

.header__logo {
	/*width: 255px;
	height: 66px;*/
	text-align: center;
	padding: 15px 0;
	float: left;
}

.header__menu {
	width: auto;
	height: 100%;
	color: #2c3731;
	float: left;

	li {
		display: inline-block;
		border-top: 2px solid transparent;
		height: 100%;
		padding: 25px 0 0 0;

		@media (max-width: 745px) {
			border: none;
			height: auto;
			padding: none;
		}

		&:hover {
			border-color: #5dcf91;
		}
	}

	.active {
		font-weight: bold;
		color: #2c3731;
		border-color: #5dcf91;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: inherit;
		text-decoration: none;
		padding: 0.7rem;
	}
}