.hp__banner {
	position: relative;
	width: 100%;
	height: 714px;
	background: #222222 url("../user-files/img/hp-banner.jpg") 50% 50% no-repeat;

	@media (max-width: 1030px) {
		margin-top: 0;
	}

	@media (min-width: 1031px) {
		margin-top: 100px;
	}

	@media (max-width: 470px) {
		height: auto;
		background-size: cover;
	}

	h1 {
		font-size: 48px;
		font-size: 3rem;
		color: #ffffff;
		padding: 170px 0 25px 0;

		@media (max-width: 560px) {
			padding: 20px 0 20px 0;
		}

		span {
			font-weight: lighter;
		}
	}

	p {
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: lighter;
		color: #ffffff;
		padding: 0 12%;
	}
}

.hp__banner-btn {
	display: inline-block;
	width: 223px;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	transition: 300ms;
	transition-timing-function: linear;
	border: 2px solid #ffffff;
	padding: 15px 0;
	margin: 25px 0;

	&:hover {
		color: #222222;
		background: #ffffff;
		text-decoration: underline;
	}
}

.hp_button-more {
	display: inline-block;
	width: 208px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 4px solid #5dcf91;
	background: #2c3731 url("../img/hp-button-bg.png") -5px 50% no-repeat;
	transition: 300ms;
	margin: 40px 0;
	padding: 15px 0;

	&:hover {
		border-color: #2c3731;
		background: #5dcf91;
	}
}

.hp__banner-get-more {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: 475px) {
		display: none;
	}
}

.hp__facts {
	background: url("../img/hp-facts-bg.png") 100% 0 no-repeat;
	padding: 40px 0;

	p {
		font-size: 19px;
		font-size: 1.2rem;
		color: #2c3731;
		margin: 0;
		padding: 0;
	}
	span {
		position: relative;
		display: block;
		font-size: 72px;
		font-size: 4.5rem;
		font-weight: bold;
		color: #5dcf91;
		margin: 0;
		padding: 0;
	}

	.after {
		&:after {
			position: absolute;
			right: 0;
			display: inline-block;
			content: "";
			width: 73px;
			height: 113px;
			background: url("../img/hp-facts-break-bg.png") no-repeat;
			vertical-align: middle;

			@media (max-width: 985px) {
				display: none;
			}
		}
	}
}
.hp__about-us {
	min-height: 648px;
	background: url("../user-files/img/hp-about-us-bg.jpg") 50% 50% no-repeat;
	padding: 30px 0;

	@media (max-width: 571px) {
		padding: 15px 0;
	}

	@media (max-width: 470px) {
		height: auto;
		background-size: cover;
	}

	p {
		display: inline-block;
		width: 80%;
		font-size: 16px;
		font-size: 1rem;
		color: #2c3731;
		margin-bottom: 40px;
		padding: 10px 0;
	}

	& >.row > .medium-12 p:nth-child(2) {
		@media (max-width: 1024px) {
			border-radius: 5px;
			background: rgba(255, 255, 255, 0.85);
			padding: 15px;
		}
	}

	& >.row > .medium-12 > p a {
		@media (max-width: 720px) {
			width: 280px;
		}
	}

	& >.row > .medium-12 > p a:first-child {
		@media (max-width: 720px) {
			margin: 0px auto 5px auto !important;
		}
	}
}

.hp_about-us__fb-btn {
	display: inline-block;
	width: 265px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	border-radius: 7px;
	background: #3b5998 url("../img/icn-facebook-btn.png") 2% 50% no-repeat;
	margin-right: 15px;
	padding: 17px 0 17px 1%;

	@media (max-width: 571px) {
		margin-right: 0;
		margin-bottom: 10px;
	}

	&:hover {
		text-decoration: underline;
		color: #ffffff;
	}
}

.hp_about-us__int-btn {
	display: inline-block;
	width: 265px;
	font-weight: bold;
	text-decoration: none;
	color: #2c3731;
	border-radius: 7px;
	background: #ffffff url("../img/icn-instagram-btn.png") 2% 50% no-repeat;
	padding: 17px 0 17px 2.5%;

	&:hover {
		text-decoration: underline;
		color: #2c3731;
	}
}

.hp__news {
 background: #f4f8f9;
 background-image: url("../img/hp-news-bg.png"), url("../img/hp-news-bg2.png");
 background-position: 0 100%, 100% 0;
 background-repeat: no-repeat, no-repeat;
}

.hp__news__item {
	position: relative;

	@media(max-width: 636px) {
		margin-bottom: 20px;
	}
	
	img {
		position: relative;
		width: 100%;
		max-height: 325px;
		overflow: hidden;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: inherit;
		text-decoration: none;

		&:hover {
			h3 {
				&:after {
					margin-left: 18px;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		bottom: 10px;
		padding: 0 4%;

		h3 {
			display: inline-block;
			font-size: 24px;
			font-size: 1.5rem;
			font-weight: bold;
			color: #ffffff;
			margin: 0;
			padding: 0;

			&:after {
				display: inline-block;
				content: "";
				width: 24px;
				height: 24px;
				background: url("../img/hp-news-arrow.png") no-repeat;
				vertical-align: middle;
				margin-left: 12px;
				transition: 300ms;
			}
		}

		span {
			display: block;
			font-size: 14px;
			font-size: 0.875rem;
			font-weight: lighter;
			color: #ffffff;
		}

		p {
			font-size: 16px;
			font-size: 1rem;
			color: #ffffff;
		}
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 45%;
		background: rgba(34, 34, 34, 0.7);

		@media (max-width: 960px) {
			height: 100%;
		}
	}
}

.hp__newsletter {
	min-height: 133px;
	background: #222222 url("../img/hp-newsletter-bg.png") no-repeat;
	background-size: cover;
	margin: 0 0 40px 0;
	padding: 10px 0;

	@media (max-width: 860px) {
		text-align: center;
	}

	h3 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #ffffff;
		margin: 15px 0 10px 2%;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: lighter;
		color: #ffffff;
		margin-left: 2%;
	}

	form {
		position: relative;
		width: 353px;
		margin-top: 40px;
		margin-right: 2%;
		float: right;
		z-index: 2;

		@media (max-width: 860px) {
			width: 80%;
			margin: 0 10%;
		}

		input[type="email"] {
			position: relative;
			width: 100%;
			height: 62px;
			border: none;
			font-size: 14px;
			font-size: 0.875rem;
			color: #909090;
			padding-left: 5%;
		}

		input[type="submit"] {
			position: absolute;
			width: 66px;
			height: 69%;
			top: 4px;
			bottom: 2px;
			right: 1%;
			font-size: 24px;
			font-size: 1.5rem;
			color: #ffffff;
			border: none;
			background: #5dcf91;
		}

		span {
			font-size: 0.750rem;
			color: #909090;
		}

		.hp_newsletter__who {
			position: absolute;
			top: 22px;
			right: 140px;
		}

		.hp__newsletter__male {
			position: absolute;
			top: 4px;
			right: 91px;
		}

		.hp_newsletter__female {
			position: absolute;
			top: 24px;
			right: 87px;
		}

		.hp_newsletter__youth {
			position: absolute;
			top: 42px;
			right: 75px;
		}
	}
}

.hp__photos {
	background: url("../img/hp-photos-bg.png") 0 0 no-repeat;
}

.hp__photos__item {
	position: relative;
	max-height: 285px;
	overflow: hidden;

	@media (max-width: 636px) {
		margin-bottom: 20px;
	}

	&:hover {
		.hp_photos__item__hover {
			display: block;
		}
	}

	img {
		width: 100%;
		overflow: hidden;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.overlay {
		position: absolute;
		left: 0;
		bottom: 5%;
		color: #ffffff;
		padding: 0 1%;
		z-index: 10;

		h4 {
			font-size: 18px;
			font-size: 1.125rem;
			margin: 0;
			padding: 0;
		}

		p {
			font-size: 16px;
			font-size: 1rem;
			margin: 0;
			padding: 0 0 0 0.9rem;
		}
	}
}

.hp__photos__gradient {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: rgba(34,34,34,.7);
	z-index: 0;

	@media (max-width: 960px) {
		height: 100%;
	}
}

.hp_photos__item__hover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	background: rgba(96, 201, 135, 0.8) url("../img/hp-photos-hover-bg.png") 50% 50% no-repeat;
}

.hp__user-photos {
	h2 {
		margin-bottom: 0;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		color: #666666;
		margin: 0;
		padding: 0;
	}
}

.hp-user-photos__info {
	display: block;
	width: 385px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 20px auto;
	padding: 7px 0;

	@media (max-width: 385px) {
		width: 100%;
	}

	a {
		font-size: 16px;
		font-size: 1rem;
		font-weight: normal;
		color: #2c3731;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a:first-child:before {
		display: inline-block;
		content: "";
		width: 28px;
		height: 28px;
		background: url("../img/icn-instagram.png") no-repeat;
		vertical-align: middle;
		margin-right: 2%;
	}

	a:last-child:before {
		display: inline-block;
		content: "";
		width: 28px;
		height: 28px;
		background: url("../img/icn-hastag.png") no-repeat;
		vertical-align: middle;
		margin-right: 2%;
	}
}

.hp__map {
	position: relative;
}

.hp__map__contact {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 350px;
	height: 350px;
	color: #ffffff;
	border-radius: 50%;
	background: #2c3731;
	z-index: 1;

	@media (max-width: 705px) {
		display: none;
	}
}

.hp__map__contact__text {
	position: relative;
	top: 90px;
	left: 60px;
}

.hp__map__contact__btn {
	display: inline-block;
	position: relative;
	left: 230px;
	width: 150px;
	height: 150px;
	font-weight: bold;
	text-align: center;
	line-height: 150px;
	border-radius: 50%;
	background: #5dcf91;

	@media (max-width: 705px) {
		dipslay: none;
	}
}

.hp__map__contact__b-top {
	position: relative;
	top: 140px;
	left: 130px;
	display: inline-block;
	width: 69px;
	height: 69px;
	border-radius: 50%;
	background: #5dcf91 url("../img/icn-back-top-arrow.png") 50% 50% no-repeat;
}